<a href="https://colab.research.google.com/github/muneeb-code/python-programming/blob/main/class-05/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mat = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

print(mat[0][2])

3

In [29]:
mat = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for row  in mat:
    for col in row:
        col+=1
        print(col)
        print('+=========+')

2
+=========+
3
+=========+
4
+=========+
5
+=========+
6
+=========+
7
+=========+
8
+=========+
9
+=========+
10
+=========+

# Functions

In [8]:

def login():
  valid_user_name ="usman"
  valid_user_password="123"
  number_of_attempts = 3
  while number_of_attempts > 0:  # 0 > 0 -> flase
    user_name = input("Enter your user name..") # usman
    user_Password = input("Enter your password...") #123

      # (usman ==  usman) true  and 123 == 123
    if user_name == valid_user_name and user_Password == valid_user_password:
      print("Login Successful")
      break
    else:
      print("Invalid Credentials")

    print("===========")
    number_of_attempts -= 1 #1 -1 = 0

login()

Enter your user name..usman
Enter your password...123
Login Successful

In [9]:
# print('Hi Rehan')
# print('Hi Usman')
# print('Hi Ibtisam')


def greet(name: str):
    print(f'Hi {name}')
    # 100 lines of code

greet("Rehan")

Hi Rehan

In [10]:
greet("Usman")

Hi Usman

In [ ]:
# define the function
def add(a: int, b: int):
    # code the logic here
    resutl = a + b
    print(resutl)



# invoke the function
add(5,6)

11

In [ ]:
#1. no input -> no output
#2 input -> no output
#3 no input -> output
#4 input -> output

In [12]:
# No Input -> No Output
def multiply():
    first_number = int(input("Enter first number: "))
    second_number = int(input("Enter second number: "))
    result = first_number * second_number
    print(result)


multiply()

Enter first number: 2
Enter second number: 9
18

In [13]:
# Input -> No Output
def multiply(a, b):
    result = a * b
    print(result)

first_number = int(input("Enter first number: "))
second_number = int(input("Enter second number: "))

multiply(first_number, second_number)

Enter first number: 2
Enter second number: 8
16

In [14]:
# No Input -> Output
def multiply():
    first_number = int(input("Enter first number: "))
    second_number = int(input("Enter second number: "))
    result = first_number * second_number
    return result
    # print(result)


result = multiply() #20

print("outside of function....",result)

Enter first number: 4
Enter second number: 6
outside of function.... 24

In [17]:
#4 input -> output

def multiply(a, b):
    result = a * b
    return result

first_number = int(input("Enter first number: "))
second_number = int(input("Enter second number: "))
result = multiply(first_number, second_number) #20

print("outside of function....",result)

Enter first number: 4
Enter second number: 9
outside of function.... 36

In [ ]:
# first add 3 and 7 then mulitiply the result with 34

In [31]:
def add(a, b):
    # print (a + b)
    return a + b


def multiply(a,b):
    return a * b


result = add(3,7)

mult_result = multiply(result,34)
print (mult_result)

340

In [32]:
def teacher_info(name: str, age: int):
    print(f"Hello {name}! Your age is {age}")


teacher_info("Rehan", 30)

Hello Rehan! Your age is 30

In [33]:
teacher_info(18, 'Usman')

Hello 18! Your age is Usman

In [34]:
def teacher_info(name: str, age: int):
    print(f"Hello {name}! Your age is {age}")


teacher_info("Rehan", 30)
# teacher_info()

Hello Rehan! Your age is 30

In [35]:
teacher_info(age=18, name='Usman')

Hello Usman! Your age is 18

In [36]:
def teacher_info(name='Test', age=12):
    print(f"Hello {name}! Your age is {age}")


teacher_info()
teacher_info("Rehan")

Hello Test! Your age is 12
Hello Rehan! Your age is 12

In [39]:
teacher_info(age=18)

Hello Test! Your age is 18

In [40]:
teacher_info(name='Rehan')

Hello Rehan! Your age is 12

In [41]:
teacher_info('Rehan',30)

Hello Rehan! Your age is 30

In [42]:
def simple_func(*names):
    for name in names:
        print(name)
    print(type(names))

simple_func("Rehan","Usman","Ibtisam")

Rehan
Usman
Ibtisam
<class 'tuple'>

In [ ]:
def simple_func(*names):
    for name in names:
        print(name)
    print(type(names))

names = ["Rehan", "Usman", "Ibtisam"]

simple_func(*names) # list unpacking

Rehan
Usman
Ibtisam
<class 'tuple'>

In [44]:
def simple_func(**kwargs):
    for key, value in kwargs.items(): # (name,rehan  ),(age,4)
        print(f"{key} is {value}")
    print(type(kwargs))

simple_func(name='Rehan', age=4)

a,b=(3,4)
print(a,b)

name is Rehan
age is 4
<class 'dict'>

In [46]:
def simple_func(**kwargs):
    for arg in args:
        print(name)
    print(type(names))

names = ["Rehan", "Usman", "Ibtisam"]

simple_func(*names)

TypeError: simple_func() takes 0 positional arguments but 3 were given

## Scope in Function

In [48]:
def greetings (name):
    name = 'Rehan' # scope is local
    print (f"Hello {name}")

name = 'Usman' # scope is global

greetings(name)

print(name) # Usman

Hello Rehan
Usman

In [50]:
def check_list (sample_list: list):
    sample_list.append(4)
    print(sample_list) # [1,2,3,4]


sample_list = [1,2,3]

print(sample_list)
check_list(sample_list)

[1, 2, 3]
[1, 2, 3, 4]

In [ ]:
def check_list (l: list):
    l.append(4)
    print(l) # [1,2,3,4]


sample_list = [1,2,3]

check_list(sample_list)

print(sample_list)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
# global


def greetings(n):
    global name
    name = 'Rehan'
    print(f"Inside the Function {name}")

name = 'Usman'
print(name)

greetings(name)

print(f"Outside of function {name}")

Usman
Inside the Function Rehan
Outside of function Rehan

# Factorial

3! = 1x2x3
5! = 1x2x3x4x5

In [ ]:
def factorial(n):
    if n < 0:
        return None
    if n < 2:
        return 1
    else:
        result = 1 #120
        for i in range(2,n+1): #2, 3, 4, 5
            result *= i   # 120
        return result
print(factorial(6)) # Output: 120

720

For Recursion: It is important to add base case in recursion

In [51]:
def factorial(n): # 1
    # Base case
    if n < 0:
        return None
    if n < 2:   # n=1  --> 1
        return 1
    # Recursive case
    return n * factorial(n - 1)  # 5 * 4 * 3 * 2  * 1

print(factorial(6))  # Output: 120

720

In [57]:
# prompt: add lambda function in below example wihout adding map

result = (lambda a, b: a * b)(4, 6)
result

24

In [58]:
# A lambda function that adds 10 to a number
add_ten = lambda x: x + 10

# Call the lambda function
print(add_ten(5))  # Output: 15

15

In [ ]:
# prompt: add example of map with lambda function

# Map with a lambda function
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
squared_numbers

[1, 4, 9, 16, 25]